<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tomomo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" xintegrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/customer-dark.css" asp-append-version="true" />
</head>
<body class="customer-theme">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark navbar-customer box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="color: #A04747; font-weight: bold;">TOMOMO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"><span class="navbar-toggler-icon"></span></button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1"></ul>
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Browse</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Favorites" asp-action="Index">My List</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Subscription" asp-action="Index">Subscription</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="History" asp-action="Index">Purchase History</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Profile" asp-action="Index">Profile</a></li>
                        <li class="nav-item ms-sm-2"><form asp-controller="Account" asp-action="Logout" method="post" class="d-flex"><button type="submit" class="btn btn-logout">Logout</button></form></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid px-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer customer-footer mt-5">
        <div class="container">&copy; @DateTime.Now.Year - Tomomo7</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://www.youtube.com/iframe_api"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
