@model Tomomo7.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Get Started";
    Layout = "~/Views/Shared/_AuthLayout.cshtml"; 
}

<div class="auth-box">
    <h2>Get Started</h2>
    <p class="text-center auth-link" style="margin-top: -20px; margin-bottom: 25px;">Let's create your account</p>

    <form asp-action="Register" method="post">
        <div asp-validation-summary="All" class="text-danger mb-3"></div>
        @Html.AntiForgeryToken()

        <div class="form-floating mb-3">
            <input asp-for="Username" class="form-control" placeholder="User name" />
            <label asp-for="Username"></label>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <label asp-for="Email"></label>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Password" class="form-control" placeholder="Choose password" />
            <label asp-for="Password"></label>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" />
            <label asp-for="ConfirmPassword"></label>
        </div>

        <div class="d-grid mt-4">
            <button type="submit" class="btn btn-primary">Create Account</button>
        </div>

        <div class="mt-4 text-center">
            <a asp-action="Login" class="auth-link highlight">Already have account?</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}